.salmon-header {
  image-resolution: 50%;
  display: block;
  margin: 0 auto;
}

#new-store-form {
  width: 50%;
  margin: auto;
}

label, input {
  display: block;
}

table, tr {
  border-color: black;
  border-style: solid;

}
